*{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.clr{
    clear: both;
}

.full-wrapper{
    width: 100%;
}

.container{
    width: 960px;
    margin: 0 auto;
}
/* common css */
@font-face{
    font-family: 'opensans_reg';
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
    font-family: 'oswald_reg';
    src: url(../fonts/oswald/static/Oswald-Regular.ttf);
}
@font-face{
    font-family: 'oswald_bold';
    src: url(../fonts/oswald/static/Oswald-Bold.ttf);
}
@font-face{
    font-family: 'oswald_med';
    src: url(../fonts/oswald/static/Oswald-Medium.ttf);
}
/* fonts */
.mr-20{
    margin-right: 20px;

}
.m-10{
    margin: 0 10px;
}
.mb-20{
    margin-bottom: 20px;

}

/* spacing */
.header-bg{
    height: 32px;
    background: #0872b9;
}

.header-bg .header{
    height: 32px;

}

.header-bg .header .header-text{
    width: 710px;
    height: 32px;
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.header-bg .header .header-text p{
    font-family: 'opensans_reg';
    font-size: 14px;
    color: #e7e7e7;
    line-height: 32px;
}

.header-bg .header .header-social{
    width: 250px;
    height: 32px;

    float: left;
    padding-right: 10px;
    box-sizing: border-box;
}
.header-bg .header .header-social ul{
    float: right;
}

.header-bg .header .header-social ul li{
    float: left;
}

.header-bg .header .header-social ul li a i{
    color: #e7e7e7;
    line-height: 32px;
    font-size: 14px;
    padding-left: 24px;
    transition: all linear 0.4s;

}

.header-bg .header .header-social ul li a i:hover{
    color: #353535;
}


/*header end */
.menu-bg{
    height: 80px;
}
.menu-bg .menu{
    height: 80px;
}
.menu-bg .menu .logo{
width: 90px;
height: 80px;
float: left;
padding-left: 10px;
box-sizing: border-box;
}
.menu-bg .menu .logo a img{
    padding-top: 20px;
    width: 100%;

}

.menu-bg .menu .menulist{
    width: 870px;
    height: 80px;
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
}

.menu-bg .menu .menulist ul{
    float: right;
}
.menu-bg .menu .menulist ul li{
    float: left;
}
.menu-bg .menu .menulist ul li a {
    font-family: 'opensans_reg';
    font-size: 14px;
    color: #353535;
    text-transform:capitalize;
    line-height: 80px;
    padding-left: 16px;
    display: block;
    transition: all linear 0.4s;

}
.menu-bg .menu .menulist ul li a:hover{
    color: #0872b9;
}
.menu-bg .menu .menulist ul li .active{
    color: #0872b9;
}

/*banner */
.banner-bg{
    height: 400px;
    background:url(../images/banner.jpg);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-bg .banners-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.banner-bg .banners-overlay .banner{
    height: 400px;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: right;
    color: #e7e7e7;
}

.banner-bg .banners-overlay .banner h4{
    font-family: 'oswald_reg';
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 75px;
}
.banner-bg .banners-overlay .banner h1{
    font-family: 'oswald_bold';
    font-size: 40px;
    text-transform: uppercase;
    margin-top: -12px;
}
.banner-bg .banners-overlay .banner p{
    font-family: 'opensans_reg';
    font-size: 13px;
    line-height: 24px;
    padding-left: 560px;
    margin-top: 10px;

}
.banner-bg .banners-overlay .banner a{
    font-family: 'oswald_med';
    text-transform: uppercase;
    font-size: 14px;
    color: #e7e7e7;
    border: 1px solid #e7e7e7;
    display: inline-block;
    line-height: 29px;
    padding: 0 16px;
    margin-left: 16px;
    margin-top: 28px;
    transition: all linear 0.4s;
}
.banner-bg .banners-overlay .banner a:hover{
   background: #0872b9;
    border-color: #0872b9;
}
.banner-bg .banners-overlay .banner a.active{
    background: #0872b9;
    border-color: #0872b9;
}

/* about */
.about-bg{
    height: 330px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.about-bg .about{
    height: 330px;
}
.about-bg .about .about-heading{
    height: 65px;
    text-align: center;
}
.about-bg .about .about-heading h3{
    font-family: 'oswald_med';
    text-transform: uppercase;
    font-size: 24px;
    color: #353535;
    position: relative;

}

.about-bg .about .about-heading h3::before{
    content: '';
    width: 48px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 430px;

}

.about-bg .about .about-heading h3 span{
    position: relative;
}

.about-bg .about .about-heading h3 span::before{
    content: '';
    width: 2px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 60px;


}
.about-bg .about .about-heading h3 span::after{
    content: '';
    width: 1px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 65px;


}

.about-bg .about .about-heading h3::after{
    content: '';
    width: 3px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 482px;

}
.about-bg .about .about-con{
    height: 265px;

}
.about-bg .about .about-con .about-img{
    width: 390px;
    height: 265px;
    padding-left: 10px;
    box-sizing: border-box;
    float: left;
}
.about-bg .about .about-con .about-img img{
    width: 100%;
    height: 100%;
}
.about-bg .about .about-con .about-det{
    width: 550px;
    height: 265px;
    padding-right: 10px;
    box-sizing: border-box;
    float: left;
}
.about-bg .about .about-con .about-det p{
    font-family: 'opensans_reg';
    font-size: 13px;
    color: #555;
    line-height: 24px;
    margin-top: 44px;

}
.about-bg .about .about-con .about-det .last-p{
    margin-top: 26px;

}

/* service */

.service-bg{
    height: 260px;
    margin-bottom: 60px;
}
.service-bg .service{
    height: 260px;


}
.service-bg .service .service-heading{
    height: 90px;
    text-align: center;

}

.service-bg .service .service-heading h3{
    font-family: 'oswald_med';
    text-transform: uppercase;
    font-size: 24px;
    color: #353535;
    position: relative;

}

.service-bg .service .service-heading h3::before{
    content: '';
    width: 48px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 410px;

}
.service-bg .service .service-heading h3::after{
    content: '';
    width: 3px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 460px;

}

.service-bg .service .service-heading h3 span{
    position: relative;
}

.service-bg .service .service-heading h3 span::before{
    content: '';
    width: 2px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 54px;


}
.service-bg .service .service-heading h3 span::after{
    content: '';
    width: 1px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 57px;


}

.service-bg .service .service-con{
    height: 170px;
}
.service-bg .service .service-con .service-iteam{
    width: 300px;
    height: 170px;
    background: #f1f1f1;
    text-align: center;
    position: relative;
    float: left;
    transition: all linear 0.4s;
}
.service-bg .service .service-con .service-iteam:hover{
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
}

.service-bg .service .service-con .service-iteam .sricon{
    width: 70px;
    height: 70px;
    background: #f1f1f1;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    transition: all linear 0.4s;
}
.service-bg .service .service-con .service-iteam:hover .sricon{
    background: #5bc5f4;
    border-color: #5bc5f4;

}

.service-bg .service .service-con .service-iteam:hover .sricon{
    border-color: #5bc5f4;
}

.service-bg .service .service-con .service-iteam .sricon::before{
    content: '';
    width: 74px;
    height: 74px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    position:absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;

}
.service-bg .service .service-con .service-iteam:hover .sricon::before{
    border-color: #5bc5f4;
}

.service-bg .service .service-con .service-iteam .sricon img{
    padding-top: 15px;
}

.service-bg .service .service-con .service-iteam h4{
    font-family: 'oswald_med';
    font-size: 16px;
    text-transform: uppercase;
    color: #353535;
    padding-top: 46px;
}
.service-bg .service .service-con .service-iteam p{
    font-family: 'opensans_reg';
    font-size: 13px;
    color: #555;
    line-height: 24px;
    padding: 0 30px;

}

/* portfolio */
.port-bg{
    height: 595px;
    margin-bottom: 60px;
}
.port-bg .portfolio{
    height: 595px;
}
.port-bg .portfolio .port-heading{
    height: 55px;
    text-align: center;
}


.port-bg .portfolio .port-heading h3{
    font-family: 'oswald_med';
    text-transform: uppercase;
    font-size: 24px;
    color: #353535;
    position: relative;

}

.port-bg .portfolio .port-heading h3::before{
    content: '';
    width: 48px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 402px;

}
.port-bg .portfolio .port-heading h3::after{
    content: '';
    width: 1px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 460px;

}

.port-bg .portfolio .port-heading h3 span{
    position: relative;
}

.port-bg .portfolio .port-heading h3 span::before{
    content: '';
    width: 2px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 50px;


}
.port-bg .portfolio .port-heading h3 span::after{
    content: '';
    width: 2px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 53px;


}

.port-bg .portfolio .port-gallery{
    height: 540px;
}
.port-bg .portfolio .port-gallery .gallery-iteam{
    width: 220px;
    height: 540px;
    float: left;
}
.port-bg .portfolio .port-gallery .gallery-iteam .small-iteam{
    width: 220px;
    height: 220px;
    position: relative;
}

.port-bg .portfolio .port-gallery .gallery-iteam .small-iteam img{
    width: 100%;

}
.port-bg .portfolio .port-gallery .gallery-iteam .small-iteam .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transition: all linear 0.4s;
    opacity: 0;
}
.port-bg .portfolio .port-gallery .gallery-iteam .small-iteam:hover .overlay{
    opacity: 1;
}

.port-bg .portfolio .port-gallery .gallery-iteam .small-iteam .overlay a{
    width: 40px;
    height: 40px;
    background: #5bc5fc;
    display: inline-block;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.port-bg .portfolio .port-gallery .gallery-iteam .big-iteam{
    width: 220px;
    height: 300px;
    margin-bottom: 20px;
    position: relative;
}
.port-bg .portfolio .port-gallery .gallery-iteam .big-iteam .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transition: all linear 0.4s;
    opacity: 0;
}
.port-bg .portfolio .port-gallery .gallery-iteam .big-iteam .overlay a{
    width: 40px;
    height: 40px;
    background: #5bc5fc;
    display: inline-block;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.port-bg .portfolio .port-gallery .gallery-iteam .big-iteam:hover .overlay{
    opacity: 1;
}



/* team */
.team-bg{
    height: 370px;
    margin-bottom: 60px ;
}
.team-bg .team{
    height: 370px;
}
.team-bg .team .t-heading{
    height: 55px;
    text-align: center;
}

.team-bg .team .t-heading h3{
    font-family: 'oswald_med';
    text-transform: uppercase;
    font-size: 24px;
    color: #353535;
    position: relative;

}

.team-bg .team .t-heading h3::before{
    content: '';
    width: 48px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 402px;

}
.team-bg .team .t-heading h3::after{
    content: '';
    width: 1px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 460px;

}

.team-bg .team .t-heading h3 span{
    position: relative;
}

.team-bg .team .t-heading h3 span::before{
    content: '';
    width: 2px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 51px;


}
.team-bg .team .t-heading h3 span::after{
    content: '';
    width: 1px;
    height: 1px;
    background: #0872b9;
    position: absolute;
    bottom: 0;
    left: 55px;
}



.team-bg .team .t-members{
    height: 315px;
    text-align: center;
}
.team-bg .team .t-members .member{
    width: 220px;
    height: 315px;
    float: left;
} 
.team-bg .team .t-members .member .member-img{
    width: 220px;
    height: 270px;
    position: relative;
    overflow: hidden;
} 
.team-bg .team .t-members .member:hover .member-img{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.team-bg .team .t-members .member .member-img .team-overlay{
    width: 80px;
    height: 270px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: -80px;
    top: 0;
    transition: all linear 0.4s;
}
.team-bg .team .t-members .member .member-img:hover .team-overlay{
    right: 0;
}
.team-bg .team .t-members .member .member-img .team-overlay ul{
    margin-top: 35px;
}
.team-bg .team .t-members .member .member-img .team-overlay ul li{
    margin-bottom: 15px;
}
.team-bg .team .t-members .member .member-img .team-overlay ul li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    transition: all linear 0.4s;
}
.team-bg .team .t-members .member .member-img .team-overlay ul li a:hover{
    background: #5bc5fc;
    border-color: #5bc5fc;
}
.team-bg .team .t-members .member .member-details{
    width: 220px;
    height: 45px;
}
.team-bg .team .t-members .member .member-details h5{
    font-family: 'oswald_med';
    font-size: 16px;
    text-transform:uppercase;
    color: #353535;
    padding-top: 6px;
    transition: all linear 0.4s;
}
.team-bg .team .t-members .member:hover .member-details h5{
    background: #5bc5fc;
    border-color: #5bc5fc;
}
.team-bg .team .t-members .member .member-details p{
    font-family: 'oswald_reg';
    text-transform:capitalize;
    margin-top: -4px;
    color: #353535;
}

/* testimonial */